{# templates/index_B.html #} {% extends "layout_B.html" %}
{% block main %}

<main class="row justify-content-center">
    <div class="container-buttons d-flex justify-content-center flex-wrap">
        <div class="row">
            <a href="#" class="boton">
                <img src="../static/img/compra_insumos.png" alt="Insumos" class="icono">
                <p class="texto">Insumos</p>
            </a>
            <a href="#" class="boton">
                <img src="../static/img/inventario.png" alt="Inventario" class="icono">
                <p class="texto">Inventario</p>
            </a>
            <a href="#" class="boton">
                <img src="../static/img/produccion.png" alt="Producción" class="icono">
                <p class="texto">Producción</p>
            </a>
            <a href="#" class="boton">
                <img src="../static/img/galleta.png" alt="Galletas" class="icono">
                <p class="texto">Galletas</p>
            </a>
            <a href="#" class="boton">
                <img src="../static/img/ganancia.png" alt="Ganancias" class="icono">
                <p class="texto">Ganancias</p>
            </a>
        </div>
        <div class="row">
            <a href="#" class="boton">
                <img src="../static/img/receta.png" alt="Recetas" class="icono">
                <p class="texto">Recetas</p>
            </a>
            <a href="{{url_for('venta.venta_pedido')}}" class="boton">
                <img src="../static/img/pedido.png" alt="Pedidos" class="icono">
                <p class="texto">Pedidos</p>
            </a>
            <a href="{{url_for('venta.ventas')}}" class="boton">
                <img src="../static/img/ventas.png" alt="Ventas" class="icono">
                <p class="texto">Ventas</p>
            </a>
        </div>
    </div>
</main>


{% endblock %}
