{# templates/index_B.html #} {% extends "layout_B.html" %}
{% block main %}

<main class="row justify-content-center">
    <div class="container-buttons d-flex justify-content-center flex-wrap">
        <div class="row">
            <a href="#" class="boton">
                <img src="../static/img/compra_insumos.png" alt="Insumos" class="icono">
                <p class="texto">Insumos</p>
            </a>
            <a href="#" class="boton">
                <img src="../static/img/inventario.png" alt="Inventario" class="icono">
                <p class="texto">Inventario</p>
            </a>
            <a href="#" class="boton">
                <img src="../static/img/produccion.png" alt="Producción" class="icono">
                <p class="texto">Producción</p>
            </a>
            <a href="#" class="boton">
                <img src="../static/img/galleta.png" alt="Galletas" class="icono">
                <p class="texto">Galletas</p>
            </a>
            <a href="#" class="boton">
                <img src="../static/img/ganancia.png" alt="Ganancias" class="icono">
                <p class="texto">Ganancias</p>
            </a>
        </div>
    </div>
  <div class="container-buttons d-flex justify-content-center flex-wrap">
    <div class="row">
      <a href="{{ url_for('insumo_bp.agregarInsumo') }}" class="boton">
        <img
          src="{{ url_for('static', filename='img/compra_insumos.png') }}"
          alt="Insumos"
          class="icono"
        />
        <p class="texto">Insumos</p>
      </a>
      <a href="{{ url_for('compras_bp.listar_compras') }}" class="boton">
        <img
          src="{{ url_for('static', filename='img/inventario.png') }}"
          alt="Inventario"
          class="icono"
        />
        <p class="texto">Inventario</p>
      </a>
      <a href="{{ url_for('produccion.index') }}" class="boton">
        <img
          src="{{ url_for('static', filename='img/produccion.png') }}"
          alt="Producción"
          class="icono"
        />
        <p class="texto">Producción</p>
      </a>
      <a href="{{ url_for('galletas.galleta') }}" class="boton">
        <img
          src="{{ url_for('static', filename='img/galleta.png') }}"
          alt="Galletas"
          class="icono"
        />
        <p class="texto">Galletas</p>
      </a>
      <a href="{{ url_for('proveedor_bp.agregarProveedor') }}" class="boton">
        <img
          src="{{ url_for('static', filename='img/ganancia.png') }}"
          alt="Ganancias"
          class="icono"
        />
        <p class="texto">Proveedores</p>
      </a>
    </div>
    <div class="row">
      <a href="{{ url_for('recetas.receta') }}" class="boton">
        <img
          src="{{ url_for('static', filename='img/receta.png') }}"
          alt="Recetas"
          class="icono"
        />
        <p class="texto">Recetas</p>
      </a>
      <a href="{{ url_for('venta.venta_pedido') }}" class="boton">
        <img
          src="{{ url_for('static', filename='img/pedido.png') }}"
          alt="Pedidos"
          class="icono"
        />
        <p class="texto">Pedidos</p>
      </a>
      <a href="{{ url_for('venta.ventas') }}" class="boton">
        <img
          src="{{ url_for('static', filename='img/ventas.png') }}"
          alt="Ventas"
          class="icono"
        />
        <p class="texto">Ventas</p>
      </a>
      <a href="{{ url_for('auth.registro_adm') }}" class="boton">
        <img
          src="{{ url_for('static', filename='img/user.png') }}"
          alt="Usuarios"
          class="icono"
        />
        <p class="texto">Administración</p>
      </a>
    </div>
  </div>
</main>


{% endblock %}
