<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flowbite Flask</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/output.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400..700&family=Kavoon&family=Parisienne&display=swap" rel="stylesheet">
    
  </head>

  <body>
    <header class="encabezado">
      <a href="../index.html">
      <img src="../static/img/logo_goldenCookies.jpeg" class="logo">
      </a>
  </header>
  <div class="titulo">
    <img src="../static/img/carro-de-la-compra.png" alt="Venta" class="icono">
    <h1>Compras</h1>
  </div>

  <!-- Formulario de compra de insumos -->
  <div class="form-container">
  <div class="container mx-auto px-4 py-8">

    
    <div class="bg-white p-6 rounded-lg shadow-md">
        <form method="POST" action="{{ url_for('compras_bp.listar_compras') }}">
            {{ form.hidden_tag() }}
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class="form-columns">
            <div class="column">
            
                <div class="mb-4">
                    {{ form.id_insumo.label(class="block text-gray-700 font-bold mb-2") }}
                    {{ form.id_insumo(class="w-full p-2 border rounded") }}
                    {% for error in form.id_insumo.errors %}
                        <p class="text-red-500 text-xs italic">{{ error }}</p>
                    {% endfor %}
                </div>
                
                <div class="mb-4">
                    {{ form.id_proveedor.label(class="block text-gray-700 font-bold mb-2") }}
                    {{ form.id_proveedor(class="w-full p-2 border rounded") }}
                    {% for error in form.id_proveedor.errors %}
                        <p class="text-red-500 text-xs italic">{{ error }}</p>
                    {% endfor %}
                </div>
                
                <div class="mb-4">
                    {{ form.cantidad.label(class="block text-gray-700 font-bold mb-2") }}
                    {{ form.cantidad(class="w-full p-2 border rounded") }}
                    {% for error in form.cantidad.errors %}
                        <p class="text-red-500 text-xs italic">{{ error }}</p>
                    {% endfor %}
                </div>
                
                <div class="mb-4">
                    {{ form.costo_unitario.label(class="block text-gray-700 font-bold mb-2") }}
                    {{ form.costo_unitario(class="w-full p-2 border rounded") }}
                    {% for error in form.costo_unitario.errors %}
                        <p class="text-red-500 text-xs italic">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="column">
                <div class="mb-4">
                    {{ form.presentacion.label(class="block text-gray-700 font-bold mb-2") }}
                    {{ form.presentacion(class="w-full p-2 border rounded") }}
                    {% for error in form.presentacion.errors %}
                        <p class="text-red-500 text-xs italic">{{ error }}</p>
                    {% endfor %}
                </div>
                
                <div class="mb-4">
                    {{ form.fecha_compra.label(class="block text-gray-700 font-bold mb-2") }}
                    {{ form.fecha_compra(class="w-full p-2 border rounded") }}
                    {% for error in form.fecha_compra.errors %}
                        <p class="text-red-500 text-xs italic">{{ error }}</p>
                    {% endfor %}
                </div>
                
                <div class="mb-4">
                    {{ form.fecha_caducidad.label(class="block text-gray-700 font-bold mb-2") }}
                    {{ form.fecha_caducidad(class="w-full p-2 border rounded") }}
                    {% for error in form.fecha_caducidad.errors %}
                        <p class="text-red-500 text-xs italic">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
            <div class="button-container">
            <div class="flex justify-end mt-6">
                <button type="submit"  style="margin-right: 10px;"class="btn btn-warning">
                    Registrar Compra
                </button>
                <a href="{{ url_for('compras_bp.listar_compras') }}" class="btn btn-warning">
                    Cancelar
                </a>
            </div>
        </div>
        </form>
    </div>
</div>
</div>

<center>
    <div class="container mx-auto px-4 py-8">
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-2xl font-bold">Listado de Compras de Insumos</h1>
            <a href="{{ url_for('compras_bp.listar_compras') }}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                Nueva Compra
            </a>
        </div>
        
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Fecha
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Insumo
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Proveedor
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Cantidad
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Precio Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for compra in compras %}
                    <tr>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            {{ compra.lote_insumo.fecha_compra.strftime('%d/%m/%Y') }}
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            {{ compra.lote_insumo.insumo.nombre }}
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            {{ compra.proveedor.nombre }}
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            {{ compra.cantidad_normalizada }} {{ compra.lote_insumo.insumo.unidad_medida }}
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            ${{ compra.precio_total|round(2) }}
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</center>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>
