{# templates/ganancias.html #} {% extends "layout_B.html" %}
{% block main %}
<link rel="stylesheet" href="../static/css/venta.css">

<header class="encabezado">
    <a href="../index.html">
        <img src="../static/img/logo_goldenCookies.jpeg" class="logo">
    </a>
</header>
<div style="margin-top: 55px;">

    <div class="titulo">
      <img
        src="../static/img/carro-de-la-compra.png"
        alt="Venta"
        class="icono"
      />
      <h1>Ganancias</h1>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div style="margin: 0px 40px 0px 40px">
      {% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <div class="button-container d-flex justify-content-between">
      <form class="mx-4" action="{{url_for('pedidos.catalogo')}}">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
        <button class="btn btn-warning">Regresar</button>
      </form>
    </div>

    <p></p>
    <div style="margin: 0px 50px 0px 50px;">
        <h5>Total ganado: ${{total_cantidad}}</h5>
        <h5>Ventas totales: {{total_ventas}}</h5>
    </div>
    

    <div class="venta-container" style="width: 100%">
      <!-- Formulario -->

      <!-- Tabla -->
      <div class="tabla-derecha-ventas" style="width: 100%; margin-right: 50px">
        <table class="table table-bordered table-hover" style="width: 100%">
          <thead class="encabezado-tabla-venta">
            <tr>
              <th>Id Venta</th>
              <th>Tipo de Venta</th>
              <th>Total</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody id="grupo-table-body">
            {% for venta in ventas %}
            <tr>
              <td>{{ venta.id_venta }}</td>
              <td>{{ venta.tipo_venta }}</td>
              <td> ${{ venta.total }}</td>
              <td>{{ venta.usuario.nombre }} ({{venta.usuario.rol}})</td>
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/venta.js"></script>
    <!-- Archivo JS -->
  </body>
</html>

    <script src="../static/js/venta.js"></script> <!-- Archivo JS -->

{% endblock %}    
