<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flowbite Flask</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/output.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
  </head>

  <body>
    <header class="encabezado">
      <a href="../index.html">
      <img src="../static/img/logo_goldenCookies.jpeg" class="logo">
      </a>
  </header>
  <div class="titulo">
    <img src="../static/img/carro-de-la-compra.png" alt="Venta" class="icono">
    <h1>Insumos</h1>
  </div>

  <form method="post" action="{{ url_for('agregar_insumo') }}" class="max-w-md mx-auto">
    {{ formulario.hidden_tag() }}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">
            {{ formulario.nombre.label }}
        </label>
        {{ formulario.nombre(class="w-full p-2 border border-gray-300 rounded") }}
        {% if formulario.nombre.errors %}
            <div class="text-red-500 text-xs italic">
                {% for error in formulario.nombre.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">
            {{ formulario.unidad_medida.label }}
        </label>
        {{ formulario.unidad_medida(class="w-full p-2 border border-gray-300 rounded") }}
        {% if formulario.unidad_medida.errors %}
            <div class="text-red-500 text-xs italic">
                {% for error in formulario.unidad_medida.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <center>
        <button type="submit" style="width: 250px;" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Guardar Insumo
        </button>
    </center>
</form>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>
