<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flowbite Flask</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/output.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
  </head>

  <body>
    <header class="encabezado">
      <a href="../index.html">
      <img src="../static/img/logo_goldenCookies.jpeg" class="logo">
      </a>
  </header>
  <div class="titulo">
    <img src="../static/img/carro-de-la-compra.png" alt="Venta" class="icono">
    <h1>Insumos</h1>
  </div>

  <form method="post" action="" class="max-w-md mx-auto">
    {{ formularioC.csrf_token }}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <div class="mb-4">
        {{ camposNuevos(formularioC.nombre.label, class="w-full p-2 border border-gray-300 rounded")}}{{formularioC.nombre(class="form-control") }}
        
    </div>

    <div class="mb-4">
        
        {{ camposNuevos(formularioC.direccion.label, class="w-full p-2 border border-gray-300 rounded")}}{{formularioC.direccion(class="form-control") }}
    </div>


<div class="mb-4">
    
    {{ camposNuevos(formularioC.telefono.label, class="w-full p-2 border border-gray-300 rounded")}}{{formularioC.telefono(class="form-control") }}
</div>


<div class="card-body">
<div class="mb-3">
  <label class="form-label"
    >{{ formularioP.tamanio.label }}</label
  >
  <div class="btn-group w-100" role="group">
    {% for subfield in formularioP.tamanio %}
    <div class="form-check form-check-inline mb-2 me-3">
      {{ subfield(class="btn-check") }} {{
      subfield.label(class="btn btn-outline-primary") }}
    </div>
    {% endfor %}
  </div>
</div>


<div class="mb-3">
<label class="form-label"
  >{{ formularioP.ingredientes.label }}</label
>
<div class="row">
  {% for subfield in formularioP.ingredientes %}
  <div class="col-md-6 col-lg-4 mb-2">
    <div class="form-check">
      {{ subfield(class="form-check-input") }} {{
      subfield.label(class="form-check-label") }}
    </div>
  </div>
  {% endfor %}
</div>
</div>

<div class="mb-4">
{{ camposNuevos(formularioP.numerop.label, class="w-full p-2 border border-gray-300 rounded")}}{{formularioP.numerop(class="form-control") }}
</div>
<center>
    <button type="submit" style="width: 250px;" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Submit
    </button>
</center>
</form>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>
