{# templates/index_B.html #} {% extends "layout_B.html" %} {% block main %}

<main class="row justify-content-center">
    <div class="container-buttons d-flex justify-content-center flex-wrap">
        <div class="row">
            <a href="{{ url_for('insumo_bp.agregarInsumo') }}" class="boton">
                <img src="../static/img/compra_insumos.png" alt="Insumos" class="icono">
                <p class="texto">Insumos</p>
            </a>
            <a href="{{ url_for('compras_bp.listar_compras') }}" class="boton">
                <img src="../static/img/inventario.png" alt="Inventario" class="icono">
                <p class="texto">Compra de Insumos</p>
            </a>
            <a href="#" class="boton">
                <img src="../static/img/produccion.png" alt="Producción" class="icono">
                <p class="texto">Producción</p>
            </a>
            <a href="#" class="boton">
                <img src="../static/img/galleta.png" alt="Galletas" class="icono">
                <p class="texto">Galletas</p>
            </a>
            <a href="#" class="boton">
                <img src="../static/img/receta.png" alt="Recetas" class="icono">
                <p class="texto">Recetas</p>
            </a>
            <a href="{{ url_for('proveedor_bp.agregarProveedor') }}" class="boton">
                <img src="../static/img/proveedor.png" alt="Recetas" class="icono">
                <p class="texto">Proveedores</p>
            </a>
        </div>
    </div>
</main>
{% endblock %}
