<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flowbite Flask</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/output.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400..700&family=Kavoon&family=Parisienne&display=swap" rel="stylesheet">
    
  </head>

  <body>
    <header class="encabezado">
      <a href="../index.html">
      <img src="../static/img/logo_goldenCookies.jpeg" class="logo">
      </a>
  </header>
  <div class="titulo">
    <img src="../static/img/carro-de-la-compra.png" alt="Venta" class="icono">
    <h1>Proveedores</h1>
  </div>
    <!-- Contenedor para ambos formularios -->
    <div class="flex flex-wrap justify-center gap-8">
  <!-- Formulario de proveedores -->
  <div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-6 text-center">Agregar proveedores</h2>
    
    <form method="post" action="{{ url_for('proveedor_bp.agregarProveedor') }}" class="max-w-md mx-auto">
        {{ formulario.hidden_tag() }}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                {{ formulario.nombre.label }}
            </label>
            {{ formulario.nombre(class="w-full p-2 border border-gray-300 rounded") }}
            {% if formulario.nombre.errors %}
                <div class="text-red-500 text-xs italic">
                    {% for error in formulario.nombre.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                {{ formulario.contacto.label }}
            </label>
            {{ formulario.contacto(class="w-full p-2 border border-gray-300 rounded") }}
            {% if formulario.contacto.errors %}
                <div class="text-red-500 text-xs italic">
                    {% for error in formulario.contacto.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2">
              {{ formulario.telefono.label }}
          </label>
          {{ formulario.telefono(class="w-full p-2 border border-gray-300 rounded") }}
          {% if formulario.telefono.errors %}
              <div class="text-red-500 text-xs italic">
                  {% for error in formulario.telefono.errors %}
                      {{ error }}
                  {% endfor %}
              </div>
          {% endif %}
      </div>

        <div class="text-center">
            <button type="submit" style="color:black" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Guardar proveedor
            </button>
        </div>
    </form>
</div>


<!-- Formulario de edición de proveedores -->
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-6 text-center">Editar Proveedor</h2>
    
    <form method="post" action="{{ url_for('proveedor_bp.editar_proveedor') }}" class="max-w-md mx-auto">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" id="edit_id_proveedor" name="id_proveedor">

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="edit_nombre">
                Nombre
            </label>
            <input type="text" id="edit_nombre" name="nombre" class="w-full p-2 border border-gray-300 rounded">
        </div>

        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="edit_contacto">
                Contacto
            </label>
            <input type="text" id="edit_contacto" name="contacto" class="w-full p-2 border border-gray-300 rounded">
        </div>
        
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="edit_telefono">
              Teléfono
          </label>
          <input type="text" step="0.01" id="edit_telefono" name="telefono" class="w-full p-2 border border-gray-300 rounded">
        </div>

        <div class="text-center">
            <button type="submit" style="color:black" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Guardar Cambios
            </button>
        </div>
          <div class="text-center">
              <button type="button" onclick="limpiarFormularioEditar()" class="bg-gray-500 hover:bg-gray-700 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                  Cancelar
              </button>
          </div>
    </form>
  </div>
    </div>

<center>
<div class="container mt-5">
  <h2 class="text-center mb-4">Lista de Proveedores</h2>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Contacto</th>
            <th>Teléfono</th>
            <th>Fecha de Creación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in proveedores %}
        <tr>
            <td>{{ proveedor.id_proveedor }}</td>
            <td>{{ proveedor.nombre }}</td> 
            <td>{{ proveedor.contacto }}</td>
            <td>{{ proveedor.telefono }}</td>
            <td>{{ proveedor.created_at.strftime('%d/%m/%Y %H:%M') }}</td>
            <td>
                <button onclick="cargarDatosEdicion('{{ proveedor.id_proveedor }}', '{{ proveedor.nombre }}', '{{ proveedor.contacto }}', '{{ proveedor.telefono }}')" 
                        class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-2 rounded">
                    Editar
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</center>

<script>
    function cargarDatosEdicion(id, nombre, contacto, telefono) {
        document.getElementById('edit_id_proveedor').value = id;
        document.getElementById('edit_nombre').value = nombre;
        document.getElementById('edit_contacto').value = contacto;
        document.getElementById('edit_telefono').value = telefono;
        
    
        document.querySelector('.flex.flex-wrap.justify-center.gap-8').scrollIntoView({
            behavior: 'smooth'
        });
    }
    function limpiarFormularioEditar() {
        document.getElementById('edit_id_proveedor').value = '';
        document.getElementById('edit_nombre').value = '';
        document.getElementById('edit_contacto').value = '';
        document.getElementById('edit_telefono').value = '';
    }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>