{# templates/index_A.html #} {% extends "layout_B.html" %} {% block main %}

    <main class="main-content">
        <div class="container-buttons">
            <a href="#" class="boton">
                <img src="../static/img/inventario.png" alt="Inventario" class="icono">
                <p class="texto">Insumo</p>
            </a>
            <a href="#" class="boton">
                <img src="../static/img/pedido.png" alt="Pedidos" class="icono">
                <p class="texto">Pedidos</p>
            </a>
            <a href="#" class="boton">
                <img src="../static/img/ventas.png" alt="Venta" class="icono">
                <p class="texto">Venta</p>
            </a>
        </div>
    </main>

{% endblock %}