{# templates/venta.html #} {% extends "layout_B.html" %}
{% block main %}
<link rel="stylesheet" href="../static/css/venta.css">
{{form.csrf_token}}

  <body class="bg-light">
    <header class="encabezado">
      <a href="../index.html">
        <img src="../static/img/logo_goldenCookies.jpeg" class="logo" />
      </a>
      <div class="logout-container">
        <form method="POST" action="{{ url_for('auth.logout') }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button type="submit" class="btn btn-danger">
            <i class="fas fa-sign-out-alt"></i> Cerrar sesión
          </button>
        </form>
      </div>
    </header>
    <div style="margin-top: 55px;">  

    <div class="titulo">
      <img
        src="../static/img/carro-de-la-compra.png"
        alt="Venta"
        class="icono"
      />
      <h1>Venta</h1>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div style="margin: 0px 40px 0px 40px">
      {% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <div class="venta-container">
      <!-- Formulario -->
      <form
        method="post"
        class="formulario-venta"
        action="{{url_for('venta.procesar_tabla')}}"
      >
        {{form.csrf_token}}
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
        <div class="mb-3">
          <label for="galleta" class="form-label">Galleta</label>
          <select id="galleta" name="galleta" class="form-select">
            {% for galleta in galletas %}
              <option value="{{galleta.id_galleta}}">{{galleta.nombre}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="tipo_venta" class="form-label">Tipo de venta</label>
          <select id="tipo_venta" name="tipo_venta" class="form-select">
            <option value="unidad">Unidad</option>
            <option value="peso">Peso</option>
            <option value="precio">Precio</option>
            <option value="paquete">Paquete</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="cantidad" class="form-label">Cantidad</label>
          <input
            type="number"
            id="cantidad"
            name="cantidad"
            class="form-control"
            required
          />
        </div>
        <input type="hidden" name="preciot" id="preciot" />
        <button class="btn btn-warning btn-add">Añadir</button>
      </form>

        <!-- Tabla -->
        <div class="tabla-derecha-ventas">
            <table class="table table-bordered table-hover">
                <thead class="encabezado-tabla-venta">
                    <tr>
                        <th>Galleta</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody id="grupo-table-body">
                    {% for venta in ventas %}
                    <tr>
                        <td>{{ venta.galleta }}</td>
                        <td>{{ venta.cantidad }}</td>
                        <td>{{ venta.precio}}</td>
                        <form method="post" action="{{url_for('venta.eliminar_venta', indice=loop.index0)}}">
                            <td>
                                <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                                <button class="btn btn-danger btn-sm" style="background-color: #DC3545; border-radius:13px; border-color:black;">
                                    Eliminar
                                </button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="button-container d-flex justify-content-between">
      <form method="post" action="{{url_for('venta.venta_pedido')}}">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
        <button class="btn btn-warning">Ver pedidos</button>
      </form>
      <div class="d-flex">
        <form class="mx-4" action="{{url_for('venta.terminar_venta')}}">
          <button class="btn btn-warning">Cancelar</button>
        </form>
        <form method="post" action="{{url_for('venta.realizar_venta')}}">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
          <button class="btn btn-warning">Aceptar</button>
        </form>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/venta.js"></script> <!-- Archivo JS -->
</body>
{% endblock %}